
/* variables */

:root {
    /* Font */
    --headingFont_1: 'Josefin Sans', sans-serif;
    --headingFont_2: 'Barlow Condensed', sans-serif;
    --textFont_1: 'Poppins', sans-serif;
    --textFont_2: 'Varela Round', sans-serif;

    /* color */
    --primaryColor: #f53b57;
    --seconderyColor: #2ecc71;
    --white: #fff;
    --grey: #f5f5f5;
    --black_1: #222; 
    --black_2: #999;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--textFont_1);
}

/* Global style  */


a {
    text-decoration: none;
}
ul {
    display: flex;
}
ul li {
    list-style: none;
}
h1 {
    font-family: var(--headingFont_1);
}
::selection {
    background: var(--seconderyColor);
    color: white;
  }

/* Global style  */
body {
    background-color: #fafafa;
}

html {
    scroll-behavior: smooth;
}

/* Navagation bar */
nav {
    height: 70px;
    width: 100%;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
}
.nav-container .logo h2 {
    font-size: 30px;
} 
.nav-list ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
  }
  
  .nav-list ul li a {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: red;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
    color: #262626;
    font-weight: 600;
  }
  
  .nav-list a:hover {
    color: white
  }
  
  .nav-list ul li span {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: var(--primaryColor);
    z-index: -1;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
  }
  
  .nav-list a:hover span{
    transform: scaleX(1);
  }
  
  .nav-list span:nth-child(2) {
    top: 25%;
    transition-delay: 0.15s
  }
  
  .nav-list span:nth-child(3) {
    top: 50%;
    transition-delay: 0.3s
  }
  
  .nav-list span:nth-child(4) {
    top: 75%;
    transition-delay: 0.45s
  }
  .nav-list .active a{
      color: var(--primaryColor);
      pointer-events: none;
  }
.nav-container .btn {
    padding: 10px 20px;
    background-color: var(--primaryColor);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.nav-container .btn:hover {
    border: 2px solid var(--primaryColor);
    background: transparent;
    color: var(--primaryColor);
}
.nav-container .btn {
    font-size: 17px;
    font-weight: 600;
    color: var(--white);
}
.nav-container .btn span {
    margin-left: 5px;
}


/* Navagation bar */


/* hero section */

.section-container {
    background-image: url(./Image/Background.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-container .content h4 {
    color: var(--seconderyColor);
    margin-bottom: 20px;
    font-size: 22px;
    font-family: var(--textFont_2);
    font-weight: 600;
}
.section-container .content h1 {
    color: var(--white);
    text-align: center;
    font-size: 40px;
    font-family: var(--headingFont_1);
    line-height: 60px;
    margin-bottom: 30px;
}
.section-container .content a {
    padding: 10px 20px;
    background-color: var(--primaryColor);
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}
.section-container .content a:hover {
    background: #912d3c;
}


/* hero section */


/* main  */

/* section_1 */

.section_1 h1 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 35px;
    color: var(--black_1);
}
.section_1 .parent-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_1 .parent-box-container .right {
    font-size: 30px;
    margin-left: 80px;
    cursor: pointer;
    box-shadow: 0px 7px 25px rgba(0,0,0,0.08);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 5px;
    transition: all 0.3s ease;
}
.section_1 .parent-box-container .left {
    font-size: 30px;
    margin-right: 80px;
    cursor: pointer;
    box-shadow: 0px 7px 25px rgba(0,0,0,0.08);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-right: 5px;
    padding-top: 5px;
    transition: all 0.3s ease;
}
.section_1 .parent-box-container .right:hover ,
.section_1 .parent-box-container .left:hover {
    background: var(--primaryColor);
    color: var(--white);
}
.section_1 .box-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}
.section_1 .parent-box-container .box-container .box {
    width: 300px;
    height: 480px;
    margin-top:80px;
}
.section_1 .parent-box-container .box-container .box img {
    width: 100%;
    height: 400px;
    border-radius: 4px;
}
.section_1 .parent-box-container .box-container .box p {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 17px;
    font-weight: 400;
    color: var(--black_2);
    margin-bottom: 4px;
}
.section_1 .parent-box-container .box-container .box .review {
    display: flex;
    justify-content: center;
}
.section_1 .parent-box-container .box-container .box .review  .fal ,
.section_1 .parent-box-container .box-container .box .review  .fas {
    margin: 2px;
    color: var(--primaryColor);
}
.section_1 .parent-box-container .box-container .box h4 {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}
.section_1 .parent-box-container .box-container .box .box-overf {
    position: relative;
}
.section_1 .parent-box-container .box-container .box .box-overf .overlay {
    position: absolute;
    width: 70%;
    top: 70%;
    left: 50%;
    transform: translate(-40% , -50%);
    opacity: 0;
    transition: all 0.4s ease;
}

.section_1 .parent-box-container .box-container .box .box-overf .overlay .far ,
.section_1 .parent-box-container .box-container .box .box-overf .overlay .fas {
    font-size: 20px;
    background-color: var(--white);
    padding: 10px;
    margin: auto;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
} 
.section_1 .parent-box-container .box-container .box .box-overf .overlay .far:hover ,
.section_1 .parent-box-container .box-container .box .box-overf .overlay .fas:hover {
    background: var(--primaryColor);
    color: var(--white);
}
.section_1 .parent-box-container .box-container .box .box-overf:hover .overlay {
    opacity: 1;
    top: 50%;

}




/* section_1 */





/* section_2 */
.section_2 .background_2 {
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.section_2 .background_2 .right_part {
    margin-right: 15%;
}
.section_2 .background_2 .left_part {
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_2 .background_2 .left_part h1 {
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
    color: var(--seconderyColor);
}
.section_2 .background_2 .left_part h2 {
    font-family: var(--headingFont_1);
    font-size: 40px;
    margin-top: 50px;
    color: var(--white);
}



/* section_2 */



/* section_3 */
.section_3 h1 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 35px;
    color: var(--black_1);
}
.section_3 .par-box-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.section_3 .par-box-container .box-contain {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;

}
.section_3 .par-box-container .box-contain .box {
    width: 300px;
    height: 480px;
    margin-top:80px;
}
.section_3 .par-box-container .box-contain .box img {
    width: 100%;
    height: 350px;
    border-radius: 4px;
    object-fit: cover;
}
.section_3 .par-box-container .box-contain .box h3 {
    margin-top: 3px;
    font-weight: 500;
    font-size: 17px;
    font-weight: 600;
    color: var(--black_2);
    margin-bottom: 4px;
}
.section_3 .par-box-container .box-contain .box .review {
    margin-top: 5px;
}
.section_3 .par-box-container .box-contain .box .review  .fal ,
.section_3 .par-box-container .box-contain .box .review  .fas {
    margin: 2px;
    color: var(--primaryColor);
}
.section_3 .par-box-container .box-contain .box h4 {
    margin-top: 3px;
}
.section_3 .par-box-container .box-contain .box .box-overf {
    position: relative;
}
.section_3 .par-box-container .box-contain .box .box-overf .overlay {
    position: absolute;
    width: 70%;
    top: 70%;
    left: 50%;
    transform: translate(-40% , -50%);
    opacity: 0;
    transition: all 0.4s ease;
}

.section_3 .par-box-container .box-contain .box .box-overf .overlay .far ,
.section_3 .par-box-container .box-contain .box .box-overf .overlay .fas {
    font-size: 20px;
    background-color: var(--white);
    padding: 10px;
    margin: auto;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
} 
.section_3 .par-box-container .box-contain .box .box-overf .overlay .far:hover ,
.section_3 .par-box-container .box-contain .box .box-overf .overlay .fas:hover {
    background: var(--primaryColor);
    color: var(--white);
}
.section_3 .par-box-container .box-contain .box .box-overf:hover .overlay {
    opacity: 1;
    top: 50%;
}
.section_3 .par-box-container .box-contain .box .buttom-part {
    display: flex;
    justify-content: space-between;
}
.section_3 .par-box-container .box-contain .box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-top: 90px;
}
.section_3 .par-box-container .box-contain .box .cart-btn 
{
    margin-top: 5px;
    background-color: var(--primaryColor);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    color: var(--white);
    margin-top: 20px;
}
.section_3 .par-box-container .box-contain .box .cart-btn i {
    margin-right: 3px;
}
.section_3 .par-box-container .box-contain .box .cart-btn:hover {
    background-color: #fc6f84;
}





/* section_3 */




/* section_4 */


.section_4 .parent-h-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_4 .parent-h-container .h-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 80px;
    margin-top: 150px;
}
.section_4 .parent-h-container .h-container .h-box {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s ease-in;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.08);

}
.section_4 .parent-h-container .h-container .h-box:hover {
    box-shadow: 0px 7px 25px rgba(0,0,0,0.1);
    transform: translateY(-10px);
}
.section_4 .parent-h-container .h-container .h-box  i {
    font-size: 45px;
    color: var(--primaryColor);
}
.section_4 .parent-h-container .h-container .h-box h2 {
    font-size: 24px;
    color: var(--seconderyColor);
    margin: 10px 0;
}
.section_4 .parent-h-container .h-container .h-box  p {
    font-size: 14px;
    color: var(--black_2);
}

/* section_4 */





/* section_5 */

.section_5 {
    margin-top: 90px;
    background-color: white;
}
.section_5  h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-top: 60px;

}
.section_5 .par-box-container .box-contain{
    margin-bottom: 80px;
}








/* section_5 */





/* section_6 */
.section_6 {
    background: transparent;
}
.section_6 .recent h1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 35px;
    color: var(--seconderyColor);

}
.section_6 .par-box-container .box-contain .box_1 {
    box-shadow: 0px 7px 25px rgba(0,0,0,0.08);
    width: 320px;
    height: 510px;
    border-radius: 20px;
} 
.section_6 .par-box-container .box-contain .box_1 img {
    width: 90%;
    display: flex;
    margin: auto;
}
.section_6 .par-box-container .box-contain .box_1 .cart-btn {
    width: 80%;
    margin: auto;

}
.section_6 .par-box-container .box-contain .box_1 .buttom-part {
    justify-content: space-around;
    margin-bottom: 10px;
}
.section_6 .par-box-container .box-contain .box_1 h3 {
    margin-left: 10%;
}
/* section_6 */

/* .review section  */
.review-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.review-section .r-box-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}
.review-section .r-box-container .r-box {
    width: 370px;
    height: 200px;
    box-shadow: 0px 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.review-section .r-box-container .r-box img {
   margin-top: 20px;
   margin-left: 30px;
    width: 60px;
}
.review-section .r-box-container .r-box .info {
     margin-top: 30px;
}
.review-section .r-box-container .r-box .info  h3 {
    color: var(--seconderyColor);
}
.review-section .r-box-container .r-box .info p {
    font-size: 13px;
    color: var(--black_2);
    margin-top: 10px;
}
.review-section .r-box-container .r-box .info .review .fas,
.review-section .r-box-container .r-box .info .review .fal {
    color: var(--primaryColor);
    font-size: 20px;
    margin-top: 10px;
}

.review-section .left {
    font-size: 30px;
    margin-right: 40px;
    cursor: pointer;
    box-shadow: 0px 7px 25px rgba(0,0,0,0.08);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-right: 5px;
    padding-top: 5px;
    transition: all 0.3s ease;
}
.review-section .right {
    font-size: 30px;
    margin-left: 40px;
    cursor: pointer;
    box-shadow: 0px 7px 25px rgba(0,0,0,0.08);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 5px;
    transition: all 0.3s ease;
}
.review-section .right:hover ,
.review-section .left:hover {
    background: var(--primaryColor);
    color: var(--white);
}

/* review section  */



/* subscribe section */

 .subscribe-section {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 120px;
     margin-bottom: 130px;
 }
 .subscribe-section .subscribe-container {
     width: 80%;
     height: 280px;
     box-shadow: 0px 7px 25px rgba(0,0,0,0.08);
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .subscribe-section .subscribe-container h1 {
     font-size: 35px;
     color: var(--seconderyColor);
 }
 .subscribe-section .subscribe-container p {
     color: var(--black_2);
 }
 .subscribe-section .subscribe-container .input-fild input {
     border: none;
     background: none;
     outline: none;
    width: 65%;
    height: 100%;
    margin-left: 20px;
    color: var(--seconderyColor);
 }
 .subscribe-section .subscribe-container .input-fild input::placeholder {
     color: var(--seconderyColor);
 }
 .subscribe-section .subscribe-container .input-fild  button {
     border: none;
     width: 25%;
     height: 70%;
     background: var(--primaryColor);
     color: var(--white);
     font-size: 17px;
     font-weight: 500;
     font-family: var(--headingFont_1);
     border-radius: 5px;
     margin-right: 15px;
     cursor: pointer;
 }
 .subscribe-section .subscribe-container .input-fild {
     background: var(--white);
     width: 600px;
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-radius: 10px;
     margin-top: 20px;
     box-shadow: 0px 7px 25px rgba(0,0,0,0.08);
 }

/* subscribe section */




/* footer section */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    
}
.footer-section {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin-left: 10%;
}
.footer-section .left-part {
    margin-left: 5%;
}
.footer-section .left-part a h2 {
    margin-top: 6px;
    color: var(--primaryColor);
    font-size: 35px;
    font-family: 'Gemunu Libre', sans-serif;
}
.footer-section .left-part a {
    display: flex;
    padding-top: 80px;
}
.footer-section .left-part .social-ico {
    margin-top: 40px;
}
.footer-section .left-part .social-ico .fab {
    font-size: 20px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.4s ease;

}
.footer-section .left-part .social-ico .fab:first-child {
    margin-left: 0;
}
.footer-section .left-part .social-ico .fat {
    padding: 10px 13px;
}
.footer-section .left-part .social-ico .fau {
    padding: 10px 11px;
}
.footer-section .left-part .social-ico .fab:hover {
    background-color: var(--primaryColor);
    color: var(--white);
}

.footer-section .left-part p {
    margin-top: 30px;
    color: #adadad;
    font-weight: 200;
    letter-spacing: 1.5px;
    line-height: 25px;
    font-size: 13px;
}
.rit {
    background-color: #222222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.rit span {
    color: var(--primaryColor);
    margin-left: 10px;
}
.footer-section .right-part {
    margin-right: 5%;
    margin-top: 100px;
    margin-bottom: 30px;

}.footer-section .right-part h3 {
    color: #fff;
}
.footer-section .right-part  ul {
    flex-direction: column;
    margin-top: 30px;
}
.footer-section .right-part  ul li {
    margin-top: 17px;
}
.footer-section .right-part  ul li a {
    color: #7a7d85;
    transition: var(--tarns);
}
.footer-section .middele-part  ul li {
    margin-top: 17px;
}
.footer-section .middele-part  ul li a {
    color: #7a7d85;
    transition: var(--tarns);
}
.footer-section .middele-part {
    margin-top: 100px;
}
.footer-section .middele-part ul {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;
}
.footer-section .middele-part h3 {
    color: #fff;
}
.footer-section .middele-part  ul li a:hover {
    color: #fafafa;
    text-decoration: underline;
}
.footer-section .right-part  ul li a:hover {
    color: #fafafa;
    text-decoration: underline;
}
/* footer section */








/* main  */
